<%%= form_for(@<%= singular_table_name %>) do |f| %>
  <%- object = "@#{singular_table_name}" -%>
  <%%= render 'error_messages', <%= key_value :target, object %> %>

<%- attributes.each do |attribute| -%>
  <div class="field">
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </div>
<%- end -%>
  <div class="actions">
    <%%= f.submit %>
  </div>
<%% end %>
