<h1>Listado de <%= plural_table_name.humanize %></h1>

<table>
  <thead>
    <tr>
<%- attributes.each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<%- end -%>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr>
<%- attributes.each do |attribute| -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<%- end -%>
      <td><%%= link_to t('.show', <%= key_value :default, "t('helpers.links.show')" %>), <%= singular_table_name %> %></td>
      <td><%%= link_to t('.edit', <%= key_value :default, "t('helpers.links.edit')" %>), edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
      <td><%%= link_to t('.destroy', <%= key_value :default, "t('helpers.links.destroy')" %>), <%= singular_table_name %>, <%= key_value :confirm, "t('helpers.links.confirm')" %>, <%= key_value :method, ":delete" %> %></td>
    </tr>
  <%% end %>
  </tbody>
</table>

<br />
<% if singular_table_name.split('_').first =~ /[ad]$/ -%>
  <%%= link_to t('.new', <%= key_value :default, "t('helpers.links.f_new')" %>, <%= key_value(:model, "'#{human_name}'") %>), new_<%= singular_table_name %>_path %>
<% else %>
  <%%= link_to t('.new', <%= key_value :default, "t('helpers.links.new')" %>, <%= key_value(:model, "'#{human_name}'") %>), new_<%= singular_table_name %>_path %>
<% end %>
