%h1 Listado de <%= plural_table_name.humanize %>

- if @<%= plural_table_name %>.any?
  %table
    %thead
      %tr
  <%- attributes.each do |attribute| -%>
        %th <%= attribute.human_name %>
  <%- end -%>
        %th
        %th
        %th

    %tbody
      - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
        %tr
  <%- attributes.each do |attribute| -%>
    <%- if attribute.type == :integer or attribute.type == :decimal -%>
          %td= number_with_delimiter <%= singular_table_name %>.<%= attribute.name %>
    <%- else -%>
          %td= <%= singular_table_name %>.<%= attribute.name %>
    <%- end -%>
  <%- end -%>
          %td= link_to t('.show', <%= key_value :default, "t('helpers.links.show')" %>), <%= singular_table_name %>
          %td= link_to t('.edit', <%= key_value :default, "t('helpers.links.edit')" %>), edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
          %td= link_to t('.destroy', <%= key_value :default, "t('helpers.links.destroy')" %>), <%= singular_table_name %>, <%= key_value :confirm, "t('helpers.links.confirm')" %>, <%= key_value :method, ":delete" %>
- else
  %div
    %h3 No se encontraron <%= plural_table_name.humanize %>

%br
<%- if singular_table_name.split('_').first =~ /[ad]$/ -%>
= link_to t('.new', <%= key_value :default, "t('helpers.links.f_new')" %>, <%= key_value(:model, "'#{human_name}'") %>), new_<%= singular_table_name %>_path
<%- else -%>
= link_to t('.new', <%= key_value :default, "t('helpers.links.new')" %>, <%= key_value(:model, "'#{human_name}'") %>), new_<%= singular_table_name %>_path
<%- end -%>
