%p#notice= notice

<%- attributes.each do |attribute| -%>
%p
  %b <%= attribute.human_name %>:
<%- if attribute.type == :integer or attribute.type == :decimal -%>
  = number_with_delimiter @<%= singular_table_name %>.<%= attribute.name %>
<%- else -%>
  = @<%= singular_table_name %>.<%= attribute.name %>
<%- end -%>

<%- end -%>
= link_to t('.edit', <%= key_value :default, "t('helpers.links.edit')" %>), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
\|
= link_to t('.back', <%= key_value :default, "t('helpers.links.back')" %>), <%= index_helper %>_path
