%p#notice= notice

<%- attributes.each do |attribute| -%>
%p
  %b <%= attribute.human_name %>:
<%- if attribute.type == :integer or attribute.type == :decimal -%>
  = number_with_delimiter @<%= singular_table_name %>.<%= attribute.name %>
<%- else -%>
  = @<%= singular_table_name %>.<%= attribute.name %>
<%- end -%>

<%- end -%>
= link_to 'Editar', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)
\|
= link_to 'Listado', <%= index_helper %>_path
